
img/result/test_1.jpg
img/frames/MARCO-01.png
img/frames/MARCO-02.png
img/frames/MARCO-03.png
img/frames/MARCO-04.png
img/frames/marco_EJ_04.xcf
img/hats/casco_LOW_def.xcf
img/hats/image-from-rawpixel-id-2437372-original.png
img/hats/image-from-rawpixel-id-2437372-original.xcf
